/* Geist Font - Local */
@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist/Geist-Regular.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: url('/fonts/Geist/Geist-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
}